In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("train.csv")
df

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
...,...,...,...,...,...
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1

In [3]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [4]:
eg = ""
eg = '. '.join(df['title'].head())
print(eg)

House Dem Aide: We Didn’t Even See Comey’s Letter Until Jason Chaffetz Tweeted It. FLYNN: Hillary Clinton, Big Woman on Campus - Breitbart. Why the Truth Might Get You Fired. 15 Civilians Killed In Single US Airstrike Have Been Identified. Iranian woman jailed for fictional unpublished story about woman stoned to death for adultery

In [5]:
import nltk
from nltk.corpus import stopwords

In [6]:
stopword = stopwords.words("english")
print(stopword)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [7]:
eg = eg.lower()
eg

'house dem aide: we didn’t even see comey’s letter until jason chaffetz tweeted it. flynn: hillary clinton, big woman on campus - breitbart. why the truth might get you fired. 15 civilians killed in single us airstrike have been identified. iranian woman jailed for fictional unpublished story about woman stoned to death for adultery'

In [8]:
words = nltk.word_tokenize(eg)
print(words)

['house', 'dem', 'aide', ':', 'we', 'didn', '’', 't', 'even', 'see', 'comey', '’', 's', 'letter', 'until', 'jason', 'chaffetz', 'tweeted', 'it', '.', 'flynn', ':', 'hillary', 'clinton', ',', 'big', 'woman', 'on', 'campus', '-', 'breitbart', '.', 'why', 'the', 'truth', 'might', 'get', 'you', 'fired', '.', '15', 'civilians', 'killed', 'in', 'single', 'us', 'airstrike', 'have', 'been', 'identified', '.', 'iranian', 'woman', 'jailed', 'for', 'fictional', 'unpublished', 'story', 'about', 'woman', 'stoned', 'to', 'death', 'for', 'adultery']

In [9]:
without_stopword = [word for word in words if word not in stopword]
print(without_stopword)

['house', 'dem', 'aide', ':', '’', 'even', 'see', 'comey', '’', 'letter', 'jason', 'chaffetz', 'tweeted', '.', 'flynn', ':', 'hillary', 'clinton', ',', 'big', 'woman', 'campus', '-', 'breitbart', '.', 'truth', 'might', 'get', 'fired', '.', '15', 'civilians', 'killed', 'single', 'us', 'airstrike', 'identified', '.', 'iranian', 'woman', 'jailed', 'fictional', 'unpublished', 'story', 'woman', 'stoned', 'death', 'adultery']

In [10]:
from nltk.stem import WordNetLemmatizer
from nltk.stem import SnowballStemmer

In [11]:
lemmatizer = WordNetLemmatizer()
lemmatized_output = ([lemmatizer.lemmatize(w) for w in without_stopword])
print(lemmatized_output)

['house', 'dem', 'aide', ':', '’', 'even', 'see', 'comey', '’', 'letter', 'jason', 'chaffetz', 'tweeted', '.', 'flynn', ':', 'hillary', 'clinton', ',', 'big', 'woman', 'campus', '-', 'breitbart', '.', 'truth', 'might', 'get', 'fired', '.', '15', 'civilian', 'killed', 'single', 'u', 'airstrike', 'identified', '.', 'iranian', 'woman', 'jailed', 'fictional', 'unpublished', 'story', 'woman', 'stoned', 'death', 'adultery']

In [12]:
without_punctuation = []
for q in without_stopword:
    if(q.isalpha()):
        without_punctuation.append(q)
        
print(without_punctuation)

['house', 'dem', 'aide', 'even', 'see', 'comey', 'letter', 'jason', 'chaffetz', 'tweeted', 'flynn', 'hillary', 'clinton', 'big', 'woman', 'campus', 'breitbart', 'truth', 'might', 'get', 'fired', 'civilians', 'killed', 'single', 'us', 'airstrike', 'identified', 'iranian', 'woman', 'jailed', 'fictional', 'unpublished', 'story', 'woman', 'stoned', 'death', 'adultery']

In [13]:
lemmatizer = WordNetLemmatizer()
lemmatized_output = ([lemmatizer.lemmatize(w) for w in without_punctuation])
print(lemmatized_output)

['house', 'dem', 'aide', 'even', 'see', 'comey', 'letter', 'jason', 'chaffetz', 'tweeted', 'flynn', 'hillary', 'clinton', 'big', 'woman', 'campus', 'breitbart', 'truth', 'might', 'get', 'fired', 'civilian', 'killed', 'single', 'u', 'airstrike', 'identified', 'iranian', 'woman', 'jailed', 'fictional', 'unpublished', 'story', 'woman', 'stoned', 'death', 'adultery']

In [14]:
stemmed_words = []
stemmer = SnowballStemmer("english")
for word in without_punctuation:
    stemmed_words.append(stemmer.stem(word))
    
print(stemmed_words)

['hous', 'dem', 'aid', 'even', 'see', 'comey', 'letter', 'jason', 'chaffetz', 'tweet', 'flynn', 'hillari', 'clinton', 'big', 'woman', 'campus', 'breitbart', 'truth', 'might', 'get', 'fire', 'civilian', 'kill', 'singl', 'us', 'airstrik', 'identifi', 'iranian', 'woman', 'jail', 'fiction', 'unpublish', 'stori', 'woman', 'stone', 'death', 'adulteri']

In [15]:
pos_tagged = nltk.pos_tag(stemmed_words)
pos_tagged

[('hous', 'JJ'),
 ('dem', 'NN'),
 ('aid', 'NN'),
 ('even', 'RB'),
 ('see', 'VB'),
 ('comey', 'JJ'),
 ('letter', 'NN'),
 ('jason', 'NN'),
 ('chaffetz', 'NN'),
 ('tweet', 'NN'),
 ('flynn', 'NN'),
 ('hillari', 'VBP'),
 ('clinton', 'NN'),
 ('big', 'JJ'),
 ('woman', 'NN'),
 ('campus', 'NN'),
 ('breitbart', 'NN'),
 ('truth', 'NN'),
 ('might', 'MD'),
 ('get', 'VB'),
 ('fire', 'JJ'),
 ('civilian', 'JJ'),
 ('kill', 'NN'),
 ('singl', 'VBD'),
 ('us', 'PRP'),
 ('airstrik', 'RP'),
 ('identifi', 'JJ'),
 ('iranian', 'JJ'),
 ('woman', 'NN'),
 ('jail', 'NN'),
 ('fiction', 'NN'),
 ('unpublish', 'JJ'),
 ('stori', 'NN'),
 ('woman', 'NN'),
 ('stone', 'VBD'),
 ('death', 'NN'),
 ('adulteri', 'NN')]

In [16]:
sen = nltk.sent_tokenize(eg)
sen

['house dem aide: we didn’t even see comey’s letter until jason chaffetz tweeted it.',
 'flynn: hillary clinton, big woman on campus - breitbart.',
 'why the truth might get you fired.',
 '15 civilians killed in single us airstrike have been identified.',
 'iranian woman jailed for fictional unpublished story about woman stoned to death for adultery']

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [19]:
# create object
tfidf = TfidfVectorizer()

# get tf-df values
result = tfidf.fit_transform(sen)
result

<5x50 sparse matrix of type '<class 'numpy.float64'>'
	with 51 stored elements in Compressed Sparse Row format>

In [20]:
# get idf values
for ele1, ele2 in zip(tfidf.get_feature_names(), tfidf.idf_):
    print(ele1, ':', ele2)

15 : 2.09861228866811
about : 2.09861228866811
adultery : 2.09861228866811
aide : 2.09861228866811
airstrike : 2.09861228866811
been : 2.09861228866811
big : 2.09861228866811
breitbart : 2.09861228866811
campus : 2.09861228866811
chaffetz : 2.09861228866811
civilians : 2.09861228866811
clinton : 2.09861228866811
comey : 2.09861228866811
death : 2.09861228866811
dem : 2.09861228866811
didn : 2.09861228866811
even : 2.09861228866811
fictional : 2.09861228866811
fired : 2.09861228866811
flynn : 2.09861228866811
for : 2.09861228866811
get : 2.09861228866811
have : 2.09861228866811
hillary : 2.09861228866811
house : 2.09861228866811
identified : 2.09861228866811
in : 2.09861228866811
iranian : 2.09861228866811
it : 2.09861228866811
jailed : 2.09861228866811
jason : 2.09861228866811
killed : 2.09861228866811
letter : 2.09861228866811
might : 2.09861228866811
on : 2.09861228866811
see : 2.09861228866811
single : 2.09861228866811
stoned : 2.09861228866811
story : 2.09861228866811
the : 2.09861228866811
to : 2.09861228866811
truth : 2.09861228866811
tweeted : 2.09861228866811
unpublished : 2.09861228866811
until : 2.09861228866811
us : 2.09861228866811
we : 2.09861228866811
why : 2.09861228866811
woman : 1.6931471805599454
you : 2.09861228866811

In [21]:
# get indexing
print('\nWord indexes:')
print(tfidf.vocabulary_)

# display tf-idf values
print('\ntf-idf value:')
print(result)

# in matrix form
print('\ntf-idf values in matrix form:')
print(result.toarray())

Word indexes:
{'house': 24, 'dem': 14, 'aide': 3, 'we': 46, 'didn': 15, 'even': 16, 'see': 35, 'comey': 12, 'letter': 32, 'until': 44, 'jason': 30, 'chaffetz': 9, 'tweeted': 42, 'it': 28, 'flynn': 19, 'hillary': 23, 'clinton': 11, 'big': 6, 'woman': 48, 'on': 34, 'campus': 8, 'breitbart': 7, 'why': 47, 'the': 39, 'truth': 41, 'might': 33, 'get': 21, 'you': 49, 'fired': 18, '15': 0, 'civilians': 10, 'killed': 31, 'in': 26, 'single': 36, 'us': 45, 'airstrike': 4, 'have': 22, 'been': 5, 'identified': 25, 'iranian': 27, 'jailed': 29, 'for': 20, 'fictional': 17, 'unpublished': 43, 'story': 38, 'about': 1, 'stoned': 37, 'to': 40, 'death': 13, 'adultery': 2}

tf-idf value:
  (0, 28)	0.26726124191242434
  (0, 42)	0.26726124191242434
  (0, 9)	0.26726124191242434
  (0, 30)	0.26726124191242434
  (0, 44)	0.26726124191242434
  (0, 32)	0.26726124191242434
  (0, 12)	0.26726124191242434
  (0, 35)	0.26726124191242434
  (0, 16)	0.26726124191242434
  (0, 15)	0.26726124191242434
  (0, 46)	0.26726124191242434
  (0, 3)	0.26726124191242434
  (0, 14)	0.26726124191242434
  (0, 24)	0.26726124191242434
  (1, 7)	0.36152911730069653
  (1, 8)	0.36152911730069653
  (1, 34)	0.36152911730069653
  (1, 48)	0.2916794154657719
  (1, 6)	0.36152911730069653
  (1, 11)	0.36152911730069653
  (1, 23)	0.36152911730069653
  (1, 19)	0.36152911730069653
  (2, 18)	0.3779644730092272
  (2, 49)	0.3779644730092272
  (2, 21)	0.3779644730092272
  :	:
  (2, 41)	0.3779644730092272
  (2, 39)	0.3779644730092272
  (2, 47)	0.3779644730092272
  (3, 25)	0.3162277660168379
  (3, 5)	0.3162277660168379
  (3, 22)	0.3162277660168379
  (3, 4)	0.3162277660168379
  (3, 45)	0.3162277660168379
  (3, 36)	0.3162277660168379
  (3, 26)	0.3162277660168379
  (3, 31)	0.3162277660168379
  (3, 10)	0.3162277660168379
  (3, 0)	0.3162277660168379
  (4, 2)	0.24541326180407053
  (4, 13)	0.24541326180407053
  (4, 40)	0.24541326180407053
  (4, 37)	0.24541326180407053
  (4, 1)	0.24541326180407053
  (4, 38)	0.24541326180407053
  (4, 43)	0.24541326180407053
  (4, 17)	0.24541326180407053
  (4, 20)	0.49082652360814105
  (4, 29)	0.24541326180407053
  (4, 27)	0.24541326180407053
  (4, 48)	0.3959957487519461

tf-idf values in matrix form:
[[0.         0.         0.         0.26726124 0.         0.
  0.         0.         0.         0.26726124 0.         0.
  0.26726124 0.         0.26726124 0.26726124 0.26726124 0.
  0.         0.         0.         0.         0.         0.
  0.26726124 0.         0.         0.         0.26726124 0.
  0.26726124 0.         0.26726124 0.         0.         0.26726124
  0.         0.         0.         0.         0.         0.
  0.26726124 0.         0.26726124 0.         0.26726124 0.
  0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.36152912 0.36152912 0.36152912 0.         0.         0.36152912
  0.         0.         0.         0.         0.         0.
  0.         0.36152912 0.         0.         0.         0.36152912
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.36152912 0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.29167942 0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.37796447 0.         0.         0.37796447 0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.37796447 0.         0.
  0.         0.         0.         0.37796447 0.         0.37796447
  0.         0.         0.         0.         0.         0.37796447
  0.         0.37796447]
 [0.31622777 0.         0.         0.         0.31622777 0.31622777
  0.         0.         0.         0.         0.31622777 0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.31622777 0.
  0.         0.31622777 0.31622777 0.         0.         0.
  0.         0.31622777 0.         0.         0.         0.
  0.31622777 0.         0.         0.         0.         0.
  0.         0.         0.         0.31622777 0.         0.
  0.         0.        ]
 [0.         0.24541326 0.24541326 0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.24541326 0.         0.         0.         0.24541326
  0.         0.         0.49082652 0.         0.         0.
  0.         0.         0.         0.24541326 0.         0.24541326
  0.         0.         0.         0.         0.         0.
  0.         0.24541326 0.24541326 0.         0.24541326 0.
  0.         0.24541326 0.         0.         0.         0.
  0.39599575 0.        ]]